<nav
  class="flex items-center justify-between flex-wrap bg-yellow-300 px-6 py-3"
>
  <div class="flex items-center flex-shrink-0 text-black mx-6">
    <span class="material-symbols-outlined text-3xl pr-2">savings</span>
    <span class="font-bold text-3xl tracking-normal">Bask.it</span>
  </div>

  <!-- <div class="flex items-center flex-shrink-0 text-black mx-6">
    <span class="text-xl pr-2">Savings</span>
    <span class="text-xl pr-2">Investments</span>
  </div> -->
</nav>
