<nav class="flex items-center justify-between flex-wrap bg-yellow-300 px-6 py-3">
    <div class="flex items-center flex-shrink-0 text-black mx-6">
        <span class="material-symbols-outlined text-3xl pr-2">savings</span>
      <span class="font-bold text-3xl tracking-normal">Bask.it</span>
    </div>
    <div class="w-full block flex-grow flex-row-reverse lg:flex lg:items-center lg:w-auto">
        <a href="#" class="inline-block text-lg px-5 py-3 leading-none border rounded-3xl text-black bg-white hover:bg-stone-100 mt-4 mx-6 lg:mt-0">Sign Out</a>
    </div>
  </nav>