<nav class="flex items-center justify-between flex-wrap bg-yellow-300 px-6 py-3">
    <div class="flex items-center flex-shrink-0 text-black mx-6">
      <form class="m-0" method="get" action="/">
        <button type="submit" class="font-bold text-3xl align-middle tracking-normal">
          <span class="text-2xl align-bottom material-symbols-outlined pr-1">savings</span>
          Bask.it
        </button>
      </form>
    </div>
  </nav>