<%- include('./partials/header.ejs') %>

<div class="container w-1/2">
    <div class="py-16">
        <div>
            <div class="text-center">
                <h1 class="text-5xl font-semibold">Bask.it</h1>
                <h2 class="text-lg mt-4">A savings planner for families</h2>
            </div>
            
            <div class="grid grid-cols-3 gap-x-24 mt-8">
                <div>
                    <label>Child's Age</label>
                    <input type="number" name="age" min="0">

                    <label class="mt-5">Age of Payment</label>
                    <input type="number" name="age_of_payment" min="0">

                    <label class="mt-5">Goal Amount</label>
                    <input type="number" name="goal_amount" min="0">
                </div>
                <div class="col-span-2">
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                    <div class="display-box"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>
