<%- include('./partials/header.ejs') %> <%- include('./partials/nav.ejs') %>

<div class="relative">
  <div class="absolute inset-0 bg-black opacity-60"></div>
  <img class="w-full h-48 object-cover" src="/dist/coins.jpg" />

  <div
    class="absolute inset-0 flex flex-col justify-center items-center text-white z-10"
  >
    <h1 class="text-5xl font-semibold">
      <span class="text-3xl material-symbols-outlined pr-2">savings</span
      >Bask<span class="text-yellow-400">.it</span>
    </h1>
    <h2 class="text-lg mt-4">
      An understandable savings planner for parents and their children
    </h2>
  </div>
</div>

<div class="container lg:w-2/3 mt-16">
  <div class="grid grid-cols-2 gap-6">
    <a href="/child-savings" class="grid-btn">
      <div class="dark-overlay"></div>
      <div class="zoom-container">
        <img
          class="w-full h-48 object-cover rounded-2xl"
          src="/dist/child-savings.jpg"
        />
      </div>

      <div
        class="absolute inset-0 flex flex-col justify-center items-center text-white z-10"
      >
        <h4 class="text-3xl font-semibold text-white">Child Savings</h4>
      </div>
    </a>
    <a href="/pensions" class="grid-btn">
      <div class="dark-overlay"></div>
      <div class="zoom-container">
        <img
          class="w-full h-48 object-cover rounded-2xl"
          src="/dist/pensions.jpg"
        />
      </div>

      <div
        class="absolute inset-0 flex flex-col justify-center items-center text-white z-10"
      >
        <h4 class="text-3xl font-semibold text-white">Pensions</h4>
      </div>
    </a>
    <a href="/lisa" class="grid-btn">
      <div class="dark-overlay"></div>
      <div class="zoom-container">
        <img
          class="w-full h-48 object-cover rounded-2xl"
          src="/dist/cash.jpg"
        />
      </div>

      <div
        class="absolute inset-0 flex flex-col justify-center items-center text-white z-10"
      >
        <h4 class="text-3xl font-semibold text-white">Lifetime ISA (LISA)</h4>
      </div>
    </a>
    <a href="/lisa" class="grid-btn">
      <div class="dark-overlay"></div>
      <div class="zoom-container">
        <img
          class="w-full h-48 object-cover rounded-2xl"
          src="/dist/charts.jpg"
        />
      </div>

      <div
        class="absolute inset-0 flex flex-col justify-center items-center text-white z-10"
      >
        <h4 class="text-3xl font-semibold text-white">Compound Interest</h4>
      </div>
    </a>
  </div>

  <div
    class="inset-0 flex flex-col justify-center items-center mt-20 mb-20 z-10"
  >
    <h1 class="text-5xl font-semibold">About Us</h1>
    <h2 class="text-lg mt-4 text-center">
      BASK stands for Ben, Adam, Sam and Kyle. We are a group of developers who
      believe that financial literacy and accessibility should be available to
      everyone. The earlier we can teach young people about strategies to become
      financially independent, the more they will benefit from it. After all,
      time is the most valuable asset we have.
    </h2>
  </div>
</div>
