<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="relative flex h-[calc(100vh-20rem)] w-full max-w-[20rem] flex-col bg-clip-border p-4">
    <div class="p-4 mb-2">
        <h5 class="block text-xl font-semibold">
            Family Members
        </h5>
    </div>
    <nav class="flex min-w-[240px] flex-col gap-1 p-2">
        <div role="button" class="flex items-center w-full p-3 transition-all hover:bg-stone-100 focus:bg-stone-100 active:bg-stone-100">
            Joe Brown - Adult
        </div>
        <div role="button" class="flex items-center w-full p-3 transition-all hover:bg-stone-100 focus:bg-stone-100 active:bg-stone-100">
            Sarah Brown - Adult
        </div>
        <div role="button" class="flex items-center w-full p-3 transition-all hover:bg-stone-100 focus:bg-stone-100 active:bg-stone-100">
            Bobby Brown - Child
        </div>
        <div role="button" class="flex items-center w-full p-3 transition-all hover:bg-stone-100 focus:bg-stone-100 active:bg-stone-100">
            Ellie Brown - Child
        </div>
        <div role="button" class="flex items-center w-full p-3 transition-all hover:bg-stone-100 focus:bg-stone-100 active:bg-stone-100">
            Add Family Members
        </div>
    </nav>
</div>



<!-- Sidebar above, rest below -->

<%- include('./partials/header.ejs') %>