<%- include('./partials/header.ejs') %>

<div class="container h-screen">
    <div class="py-16 relative h-full">
        <div class="text-center">
            <h1 class="text-5xl font-semibold">Bask.it</h1>
            <h2 class="text-lg mt-4">A savings planner for families</h2>
        </div>

        <h3 class="mt-16 font-semibold text-3xl text-center">Sign Up</h3>
    
        <form method="post">
            <div class="text-center w-1/2 mx-auto grid justify-center mt-8">
                <div class="flex items-center gap-x-4">
                    <label class="ml-auto">Username:</label>
                    <input type="text" name="username" class="w-96">
                </div>
    
                <div class="flex items-center gap-x-4 mt-4">
                    <label class="ml-auto">Email:</label>
                    <input type="email" name="email" class="w-96">
                </div>
            </div>
    
            <button type="submit" name="sign_up" class="text-2xl font-medium absolute right-0 bottom-16">Create ></button>
        </form>
    </div>
</div>

<%- include('./partials/footer.ejs') %>